* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    scroll-behavior: smooth;
    list-style: none;
}
/* HEADER */
#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 0 30px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 5;
}
#header div.logo{
    height: 50%;
}
#header div.nav_button{
    height: 70%;
    cursor: pointer;
}
#header img {
    height: 100%;
}
/* hidden nav */
div.nav_menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background: #2f2f2f;
    color: #ffffff;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}
div.nav_menu ul {
    width: 150px;
    height: 200px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
div.nav_menu a {
    color: #aaaaaa;
    text-decoration: none;
}
div.nav_menu a:hover {
    color: #eeeeee;
}
div.nav_menu a.crossed, div.nav_menu a.active {
    text-decoration: line-through;
    color: #eeeeee;
    font-size: 14pt; 
}
div.nav_menu .close_button {
    background: transparent;
    color: #ffffff;
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}
/* MAIN */
/* fade-in fade-out animation */
.main_content:before  {
    content: '';
    position: fixed;
    z-index: -3;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.main_content.active:before {
    opacity: 0.3; 
    z-index: 3;
}

.main_content.fade-out:before {
    opacity: 0; 
    z-index: -3;
}
/* main header */
main {
    width: 100%;
}
main #header_main {
    background: url("../images/main_bg.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.hero-content {
    text-align: center;
    max-width: 300px;
    padding: 65px;
    background: rgba(255, 255, 255, 0.8);
    outline: 4px double #FFFFFF;
    outline-offset: 5px;
    margin: 0 auto;
    transform: translateY(100%);
}
.hero-content * {
    margin: 30px 15px;
}
.hero-content h1 {
    font-size: 24pt;
}
.hero-content p {
    font-size: 14pt;
}
#mouse_icon {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 27px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}
#scroller {
    width: 5px;
    height: 10px;
    border-radius: 5px;
    background: #000;
    margin: 5px auto;
    animation: scroller_animation 1s linear infinite;
}
@keyframes scroller_animation {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        transform: translateY(5px);
        opacity: 0.7;
    }
    100% {
        transform: translateY(10px);
        opacity: 0;
    }
}
/* main about */
#about {
    height: 660px;
    display: flex;
    justify-content: space-between;
}
.about_item-left {
    width: 50%;
    overflow: hidden;
}
.about_item-left img {
    height: 100%;
    filter: sepia(60%)
}
.about_item-right {
    width: 50%;
    padding: 0 30px;
    box-sizing: border-box;
    font-size: 10pt;
}
.item {
    width: 70%;
    margin: 200px auto;
}
.about_item-right p {
    line-height: 30px;
}
.about_item-right span {
    font-weight: bold;
}
#about_item-right_quote {
    text-align: center;
    font-style: italic;
}
#item1 * {
    margin: 15px 0;
}
table {
    width: 400px;
    margin: 100px auto;
    font-size: 10pt;
}
th, td {
    padding: 10px;
    text-align: left;
}
/* main work */
#work {
    height: 660px;
    display: flex;
    justify-content: space-between;
    background: #f6f6f6;
    padding-bottom: 30px;
}
.work_item-left {
    width: 50%;
}
.work_item-right {
    width: 50%;
}
.work_item-left div {
    width: 550px;
    margin: 30px auto;
    line-height: 40px;
}
.work_item-left div * {
    margin: 25px
}
ul.portfolio-image {
    width: 80%;
    height: 100%;
    margin: 0px auto;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.portfolio_item {
    width: auto;
    height: 45%;
}
.portfolio-item-image {
    width: 250px;
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.portfolio-item-image img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
}
/* FOOTER */
.footer_main {
    width: 100%;
    height: 60px;
    text-align: center;
}
.socials {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.socials li {
    width: 100%;
    font-size: 13px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.socials li a {
    display: block;
    position: relative;
    z-index: 2; 
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.socials li::after {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transition: top 0.3s ease;
    z-index: 1;
}
.socials li:hover::after {
    top: 0;
}
#footer_telegram {
    background: #969696;
}
#footer_telegram:after {
    background: #34ace0;
}
#footer_vk {
    background: #ababab;
}
#footer_vk:after {
    background: #0077fe;
}
#footer_email {
    background: #d8d8d8;
}
#footer_email:after {
    background: #e34133;
}