* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}
header {
    background: url("images/hero1.jpeg");
    width: 100%;
    height: 100vh;
}
.hero-content {
    text-align: center;
    max-width: 300px;
    padding: 65px;
    background: rgba(255, 255, 255, 0.8);
    outline: 4px double #FFFFFF;
    margin: 0 auto;
    transform: translateY(100%);
}
.hero-content * {
    margin: 30px 15px;
}
.about_item-left {
    width: 50%;
    float: left;
    overflow: hidden;
}
.about_item-right {
    width: 50%;
    float: right;
    height: 660px;
    font-family: "Roboto Mono", monospace;
}
.about_item-right > div {
    width: 650px;
    text-align: justify;
    margin: 200px auto;
}
.about_item-right > div > p {
    font-size: 9pt;
    line-height: 30px;
}
.about_item-right > div > span {
    font-weight: bold;
    font-size: 10pt;
}
.about_item-right > div > img {
    display: block;
}
.about_item-right > div * {
    margin: 25px;
}
.work_item-left {
    width: 50%;
    float: left;
    height: 660px;
}
.work_item-right {
    width: 50%;
    float: right;
    height: 660px;
}
.work_item-left div {
    width: 550px;
    margin: 30px auto;
    line-height: 40px;
}
.work_item-left div * {
    margin: 25px
}
ul.portfolio-image {
    list-style: none;
    margin-left: 150px;
}
.portfolio_item {
    width: 37%;
    margin: 15px;
    float: left;
}
ul.portfolio-image li img {
    width: 100%;
}
.footer-top {
    width: 100%;
    height: 60px;
    text-align: center;
    clear: both;
    background: #969696;
}
.socials {
    width: 100%;
    margin: 0;
    padding: 0;
}
.socials li {
    float: left;
    overflow: hidden;
    width: 30%;
    font-size: 13px;
    padding: 20px;
}
.footer-top a {
    color: #cccccc;
    text-decoration: none;
}